body{
  background: url(Zinc.jpg);
}

.header{
  background : url(MidnightCity.jpg);
  background-size: cover;
  height: 100px;
  border-radius: 2px;
  font-size: 60px;
  color: white;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-top: 10px;
  padding-bottom: -10px;
  box-shadow: 1px 2px 20px black;
  width: 100%;
  text-shadow: 1px 1px 2px rgb(255, 252, 252);
}

.footer{
  background-color: black;
  height: 50px;
  color: white;
  text-align: center;
  padding-top: 15px;
  font-family: 'Courier New', Courier, monospace;
  box-shadow: 1px -2px 20px black;
}

.coursecard{
  background : url(Lizard.jpg);
  border-radius: 10px;
  box-shadow: 2px 2px 10px gray;
  padding: 20px;
  margin: 20px;
  width: 300px;
  color: white;
}

.coursecard:hover{
  box-shadow: 4px 4px 20px black;
  transform: scale(1.05);
  transition: 0.3s;
  background : url(MidnightCity.jpg);
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 1px rgb(255, 255, 255);
}
