body{
  background: linear-gradient(to right,
  rgb(182, 178, 161),
  rgb(230, 230, 230)
  n);

}

.header{
  background: linear-gradient(to right,
  rgb(36, 38, 40),
  rgb(63, 65, 67)
);

  background-size: cover;
  height: 100px;
  border-radius: 2px;
  font-size: 60px;
  color: white;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-top: 10px;
  padding-bottom: -10px;
  box-shadow: 1px 2px 20px black;
  width: 100%;
  text-shadow: 1px 1px 2px rgb(255, 252, 252);
}

.footer{
  background-color: black;
  height: 50px;
  color: white;
  text-align: center;
  padding-top: 15px;
  font-family: 'Courier New', Courier, monospace;
  box-shadow: 1px -2px 20px black;
}

.coursecard{
  background: linear-gradient(to right,
  rgb(56, 74, 88),
  rgb(207, 203, 198)
  );
  border-radius: 10px;
  box-shadow: 2px 2px 10px gray;
  padding: 20px;
  margin: 20px;
  width: 400px;
  color: white;
  position: relative;
  overflow: visible;  /* allow image to pop out */
}

.coursecard:hover{
  box-shadow: 4px 4px 20px black;
  transform: scale(1.05);
  transition: 0.3s;
  background: linear-gradient(to right,
  rgb(36, 38, 40),
  rgb(63, 65, 67)
  );
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 1px rgb(255, 255, 255);
}

.Section {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 cards per row */
  justify-items: center;
  gap: 5px;
  padding: 40px;
}
@media (max-width: 700px) {
  .Section {
    grid-template-columns: 1fr; /* 1 card per row on smaller screens */
  }
}


.coursecard img {
  width: 120%;           /* slightly bigger than card */
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
  position: relative;
        
  

  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}
